---
layout: minimal
title: "Tutoriais sobre SVG"
permalink: /tutorial-svg/index.html
image: '/assets/img/tutorial-svg/tutorial-svg.png'
description: "Vários tutoriais para aprender SVG passo-a-passo com exemplos."
---

{% for post in site.categories["o mundo mágico do svg"] reversed %}
  <ul class="post-list">
      <li>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a>
      </li>
  </ul>
{% endfor %}

<p class="text-center">E se você quiser mais conteúdo, acesse a <a href="https://github.com/willianjusten/awesome-svg">awesome-svg</a> no github.</p>

{% include share.html %}
