<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Willian Justen">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/willianjusten">Willian Justen</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">Desenvolvedor Front End</span> e nerd nas horas vagas</p>
        <a class="email" href="https://github.com/willianjusten">github.com/willianjusten</a>
    </div>
</section>
