<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img class="img-rounded" src="/assets/img/blog-author.jpg" alt="Willian Justen">
        <p class="def">Autor</p>
        <h1 class="name">
            <a itemprop="name" href="https://plus.google.com/+WillianJustendeVasconcellos/posts">Willian Justen</a>
        </h1>
        <p class="desc">Desenvolvedor Front End e nerd nas horas vagas</p>
        <a class="email" href="mailto:willianjustenqui@gmail.com">willianjustenqui@gmail.com</a>
    </div>
</section>