<header class="header-site" role="banner">
    <div class="content">
        <h1>
            <span class="site-title">Willian Justen</span>
            <span class="site-description">Desenvolvedor Front End</span>
        </h1>
        <div class="icons-home">
            <a aria-label="Enviar Email" href="mailto:willianjustenqui@gmail.com"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
            <a aria-label="Meu Twitter" target="_blank" href="https://twitter.com/Willian_justen"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
            <a aria-label="Meu Google Plus" target="_blank" href="https://plus.google.com/+WillianJustendeVasconcellos/posts"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
            <a aria-label="Meu Github" target="_blank" href="https://github.com/willianjusten"><svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg></a>
            <a aria-label="Use o RSS para receber todos os posts novos" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>
