<!-- Os 5 mais rápidos a descobrir isso, vão levar meu curso de TDD de graça!
  E o código do cupom é NUMERO + A resposta para a vida, o universo e tudo mais.
  E aí? Já sabe? Corre lá https://www.udemy.com/js-com-tdd-na-pratica/ e coloca
  o cupom, preste bem atencao na dica acima. -->

<section class="marketing marketing-js">
    <h1>JS com TDD na Prática</h1>
    <h2>Aprenda testes na prática e garanta um currículo melhor para o mercado.</h2>
    <a href="https://www.udemy.com/js-com-tdd-na-pratica/?couponCode=LANCAMENTOTDD" onclick="ga('send', 'event', 'mkt', 'click', 'prevenda javascript')" class="btn-marketing btn-js" target="_blank">Comprar Agora</a>
</section>
