<section class="related">
    <h2 class="related-post_title">Posts relacionados</h2>
    {% assign maxRelatedCounter  = 0 %}

    <ul class="related-posts_section">
    {% for post in site.posts %}
        {% if post.url != page.url %}
            {% if post.main-class == page.main-class %}
                <li class="related-post">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% assign maxRelatedCounter  = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter == 8 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
</section>
