footer
    background main
    padding 25px 0
    margin-top 100px
    p,a
        text-decoration none
        mainFont(300)
        color sec
        text-align center
        margin 0
    a:hover
        color #990000