// Header home
.site-header
    background main
    min-height: 100vh
    .content
        width: 95%
        align(both)
    h1,h2
        color: sec
        text-align center
    h1
        font-size rem(60px)
        line-height 1
        margin-top -80px
        +above(cut)
            margin-bottom 0
            font-size rem(100px)
    h2
        font-size rem(20px)
        +above(cut)
            font-size rem(40px)