.marketing
    text-align: center
    background: url('../img/marketing-bg.jpeg') center center
    background-attachment: fixed
    padding: 80px 0
    color: #fff
    margin: 50px 0
    &-svg
        background-image: url('../img/pre-venda.png')
        background-position: center center
    h1,
    h2
        text-shadow: 3px 3px #328287
    h2
        margin-bottom: 50px
    &-js
        background-image: url('../img/cursos/js-tdd-bg.png')
        background-position: left center
        background-repeat-x: no-repeat
        background-color: #f7db3c
        h1,
        h2
            text-shadow: 1px 3px 5px #000
            
    .btn-marketing
        background: darken(#328287, 30%)
        color: #fff
        padding: 20px 40px
        text-decoration: none
        font-size: rem(22px)
        border-radius: 30px
        transition: all .2s
        &:hover
            background: #328287
        &.btn-js
            background: #000
            &:hover
                background: #504f4f

.container-donation
    display: table
    margin: auto
.form-button
    float: left
    padding: 30px
    display: block
    margin: auto