text-color = #ddd
bg-color = #2b2b2b

.night-mode
    background #444

    a,
    .related-post a,
    .page_number
        color #D6BA32

    .bar-header,
    .box-item
        background bg-color
    .box-item
        border none
        .box-body h2
            color text-color
        .box-body p
            color darken(text-color, 20%)
        &:hover
            box-shadow 1px 2px 10px black;
    .home,
    .post
        background #444
    .title-category,
    .tag-title
        color text-color
    .post-content
        h1,h2,h3,h4
            color text-color
        a
            color text-color
            border-bottom 2px dashed text-color
            &:hover
                background-color bg-color
                color #fff
        strong,
        code
            color text-color
            background black
            padding 2px 5px
            border-radius 5px
        p,
        li,
        code
            color text-color
        pre
            code
                background: none
                padding 0 1.25rem
        .externalLink:after
            filter invert(1)

    .author
        background  bg-color
        .name a,
        .desc,
        .email
            color text-color

    .related-post_title
        color text-color

    .share
        color text-color
        a
            filter invert(1)
            &:hover
                color darken(text-color, 25%)

    .comments
        color text-color

    .header-post,
    .header-site
        background-color bg-color
        color text-color
    .bar-header
        .logo a
            color text-color
    .author .email
        color text-color

    .share a
        &:hover svg
            fill text-color
    body
        &.search-overlay
            &:after
                +below(cut)
                    background-color text-color
    .icon-menu
        fill text-color
    .cursos-menu
        color text-color

    a.previous,
    a.next
        background bg-color
        &:hover
            color #D6BA32
    aside
        background-color bg-color
        nav li a:hover
            color bg-color
    footer
        background-color bg-color
