.pagination
    max-width rem(1030px)
    text-align center
    width 100%

    a.next,
    a.previous
        background main
        border-radius: 50%
        color white
        display inline-block
        font-size: rem(20px)
        height: 40px
        line-height 40px
        text-decoration none
        width: 40px

    .page_number
        color #576366
        font-size rem(16px)
        line-height rem(22px)
        margin 0 rem(10px)
