.post-content
    padding rem(40px) 0
    p, h1, h2, h3, h4,ul,img
        center(rem(800px))
        padding 0 rem(20px)
        margin 0 auto 30px
        mainFont(300)
        font-size rem(18px)
        line-height 2
        letter-spacing 0.01rem
        +above(cut)
            font-size rem(20px)
    p,li
        color texts
        code
            color main
    a
        mainFont(300)
        color main
    h1,h2,h3,h4,h5
        mainFont(800)
        margin-bottom 0
    h1
        font-size rem(30px)
        line-height 1.4
        +above(cut)
            font-size rem(45px)
    h2
        font-size rem(22px)
        line-height 1.4
        +above(cut)
            font-size rem(35px)
    h3
        font-size rem(18px)
        line-height 1.4
        +above(cut)
            font-size rem(25px)
    ul
        padding-left rem(60px)
        +above(cut)
            padding-left rem(120px)
    blockquote
        center(rem(730px))
        border-left 5px solid main
        padding 0 rem(30px)
        margin rem(50px) auto
        +below(cut)
            width 70%
        p
            color rgba(0,0,0,0.4)
            margin 0
            +below(cut)
                font-size rem(16px)
                padding 0