.post-content
    padding rem(40px) 0
    p, blockquote, h1, h2, h3, h4,ul,img
        center(rem(800px))
        padding 0 rem(20px)
        margin-bottom 30px
        mainFont(300)
        font-size rem(18px)
        line-height 2
        letter-spacing 0.01rem
        +above(cut)
            font-size rem(20px)
    p
        color texts
        code
            color main
    a
        mainFont(300)
        color main