main = #199FCE

.post-content
    a
        color main
        border-bottom 2px dashed main
        &:hover
            background main
            color #fff
    p,
    li
        code
            color main

.header-post,
.header-site
    background main
    h1
        text-shadow 3px 3px darken(main, 20%)

.author .email
    color main

.share a
    &:hover svg
        fill main