themes = {
    post-jekyll: #B31917,
    post-css: #2DA0C3,
    post-js: #7AAB13,
    post-html: #EB7728,
    post-svg: #20898c,
    post-dev: gray
}

for theme, category-color in themes
    .{theme}
        .post-content
            h1,h2,h3,h4
                color category-color
            a
                color category-color
                border-bottom 2px dashed category-color
                &:hover
                    background category-color
                    color #fff
            strong
                color category-color
            p,
            li
                code
                    color category-color

        .header-post,
        .header-site
            background category-color
            h1
                text-shadow 3px 3px darken(category-color, 20%)

        .author .email
            color category-color

        .share a
            &:hover svg
                fill category-color
                
        body
            &.search-overlay 
                &:after
                    +below(cut)
                        background-color category-color

        footer
            background category-color
