---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebSite" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}

    <!-- Inline css home -->
    <style type="text/css">
        {% include home.css %}
    </style>
    {% include night-mode.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>
