<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}

    <!-- Inline css posts -->
    <style type="text/css">
        {% include posts.css %}
    </style>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include night-mode.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include venda-git.html %}
            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
