---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}

    <!-- Inline css posts -->
    <style type="text/css">
        {% include posts.css %}
    </style>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include night-mode.html %}
        <section class="post">

            <article role="article" id="post" class="post-content">
                {{ content }}
                <hr/>
            </article>

            {% include related.html %}
            {% include venda-git.html %}
            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@type": "BlogPosting",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                },
                "headline": "{{page.title}}",
                "datePublished": "{{page.date}}",
                "dateModified": "{{page.date}}",
                "description": "{{page.description}}",
                "image": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{page.image }}"
                },
                "author": {
                    "@type": "Person",
                    "name": "Willian Justen de Vasconcellos"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "Willian Justen Blog",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "https://willianjusten.com.br/assets/img/icons/favicon-512x512.png"
                    }
                },
                "articleBody": "{{ content | strip_html | strip_newlines | replace: '"', '' }}"
            }
        </script>
    </body>
</html>
